<div data-controller="hello">
  <input type="text">
  <button>Greet</button>
</div>

<script type="module">
  import { TestClass } from 'src/test_class';

  let a = new TestClass();
  console.log(a.loaded());
</script>

